# Comments & Data Types

In [1]:
# this is a comment

print('Hello') # this is also a comment

Hello

In [1]:
# the following are all integers

print(2)

print(10)

2
10

In [3]:
# the following are all floats

print(10.953)

print(8.0) # even this number is a float

10.953
8.0

In [6]:
# the following are booleans

print(True)

print(False)

True
False

In [2]:
# the following are strings

print('')

print("There's a snake in my boot!")

print('True')

There's a snake in my boot!
True

# Variables

In [2]:
Sport = 'baseball'    # capital 'S'
print(sport)          # lowercase 's'

NameError: name 'sport' is not defined

In [3]:
num1 = 5           # storing an integer into a variable

num2 = 8.4         # storing a float into a variable

print(num1, num2)  # you can print multiple items using commas

5 8.4

In [5]:
# storing a boolean into a variable

switch = True

print(switch)

True

In [5]:
# storing strings into a variable

name = 'John Smith'

fav_number = '9'

print(name, fav_number)       # will print 9 next to the name

John Smith 9

In [5]:
# using two variables to create another variable

result = num1 + num2

print(result)

13.4

In [6]:
# adding, deleting, multiplying, dividing from a variable

result += 1   # same as saying result = result + 1
print(result)

result *= num1   # same as saying result = result * num1
print(result)

14.4
72.0

In [7]:
# defining a variable and overwriting it's value

name = 'John'
print(name)

name = 'Sam'
print(name)

John
Sam

# Working with Strings

In [8]:
# using the addition operator without variables

name = 'John' + ' ' + 'Smith'

print(name)

John Smith

In [9]:
# using the addition operator with variables

first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name

print(full_name)

John Smith

In [10]:
# injecting variables using the format method

name = 'John'

print('Hello {}'.format(name))

print('Hello {}, you are {} years old!'.format(name, 28))

Hello John
Hello John, you are 28 years old!

In [11]:
# using the new f strings

name = 'John'

print(f'Hello {name}')

Hello John

In [12]:
# one major difference between versions 2 & 3

name = 'John'

print('Hello, %s' % name)

Hello, John

In [13]:
# using indexes to print each element

word = 'Hello'

print(word[0])        # will output 'H'
print(word[1])        # will output 'e'
print(word[-1])       # will output 'o'

H
e
o

In [14]:
print(word[0:2])      # will output 'He'

He

# Manipulating Strings

In [15]:
# using the title method to capitalize a string

name = 'john smith'

print(name.title())

John Smith

In [16]:
# replacing an exclamation point with a period

words = 'Hello there!'

print(words.replace('!', '.'))

Hello there.

In [17]:
# finding the starting index of our searched term

s = 'Look over that way'

print(s.find('over'))

5

In [18]:
# removing white space with strip

name = '   john   '

print(name.strip())

john

In [19]:
# converting a string into a list of words

s = 'These words are separated by spaces'

print(s.split(' '))

['These', 'words', 'are', 'separated', 'by', 'spaces']

# Friday Project: Printing Receipts

In [68]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first using format
print('\t\t{}'.format(company_name.title()))
print('\t\t{}'.format(company_address.title()))
print('\t\t{}'.format(company_city.title()))

# print a line between sections
print('=' * 50)

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each item
print('\t{}\t\t${}'.format(p1_name.title(), p1_price))
print('\t{}\t${}'.format(p2_name.title(), p2_price))
print('\t{}\t\t${}'.format(p3_name.title(), p3_price))

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print('\t\t\t${}'.format(total))

# print a line between sections
print('=' * 50)

# output thank you message
print('\n\t{}\n'.format(message))

# create a bottom border
print('*' * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, Ma
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************